<% title "Users" %>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Crypted Password</th>
    <th>Password Salt</th>
    <th>Persistence Token</th>
    <th>Current Login At</th>
    <th>Last Login At</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=h user.username %></td>
      <td><%=h user.email %></td>
      <td><%=h user.current_login_at %></td>
      <td><%=h user.last_login_at %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
